:root
{
    --dampened-gold: rgb(230, 200, 0);
    --dampened-cyan: rgb(0, 222, 222);
}

.coin
{
    color: var(--dampened-gold);
    border-color: var(--dampened-gold);
}
.coin.subtabButton
{
    color: white;
    border-color: var(--dampened-gold);
}
.diamond
{
    color: var(--dampened-cyan);
    border-color: var(--dampened-cyan);
}
.diamond.subtabButton
{
    color: white;
    border-color: var(--dampened-cyan);
}
.generator
{
    color: lightgray;   
}
.automation
{
    color: crimson;
}

.quark
{
    color: white;
    border-color: white;
}
.mythos
{
    color: plum;
    border-color: plum;
}
.mythos.subtabButton
{
    color: white;
    border-color: plum;
}

.particle
{
    color: limegreen;
    border-color: green;
}
.particle.subtabButton
{
    color: white;
    border-color: limegreen;
}

.small-accent .obtainium, .small-accent.obtainium, .obtainium
{
    color: pink;
}
.medium-accent .obtainium, .medium-accent.obtainium
{
    color: crimson;
}
.large-accent .obtainium, .large-accent.obtainium
{
    color: crimson;
}

.ant
{
    border-color: maroon;
}

.shop
{
    border-color: white;
}

.standard
{
    background-color: #111111;
}

.auto
{
    background-color: #171717;
}